<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.e_contract.jwatchdog.android"
    android:versionCode="3"
    android:versionName="1.0.0.Beta3" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="4" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dog"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <!-- android:launchMode="singleTask" cannot wake from deep sleep -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".SMSBroadcastReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".PrefsActivity" />

        <provider
            android:name=".NotificationContentProvider"
            android:authorities="be.e_contract.jwatchdog.android.NotificationContentProvider"
            android:exported="false" />
    </application>

</manifest>